<div class="d-flex justify-content-center align-items-center vh-100" id="initialDiv">
  <div class="flip-card" id="flipCard">
    <div class="flip-card-inner">

      <div class="flip-card-front">
        <form class="w-100" (ngSubmit)="sendLogin()" [formGroup]="loginForm" id="loginForm">
          <h2 class="text-center loginTitle mb-4">Login</h2>
          <div class="mb-3">
            <label for="loginEmail" class="form-label">Username or Gmail</label>
            <input type="text" class="form-control" id="loginEmail" formControlName="usernameOrEmail"
              [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}">

            @let usernameOrEmail = loginForm.get('usernameOrEmail')?.errors;
            @if(usernameOrEmail?.['required']) {
            <div class="invalid-feedback">This field is required</div>
            }
          </div>

          <div class="mb-4">
            <label for="loginPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="loginPassword" formControlName="password"
              [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}">

            @let password = loginForm.get('password')?.errors;
            @if(password?.['required']) {
            <div class="invalid-feedback">Password is required</div>
            }
            @if(password?.['minlength']) {
            <div class="invalid-feedback">
              You need at least
              {{password?.['minlength'].requiredLength - password?.['minlength'].actualLength}}
              more characters
            </div>
            }
          </div>
          <button type="submit" class="btn btn-success w-100" [disabled]="loginForm.invalid">Login</button>
        </form>
        <button class="toggle-text btn btn-outline-success w-75 mt-4" id="registerText"
          (click)="rotateLogin()">Register</button>
      </div>

      <div class="flip-card-back">
        <form class="w-100" (ngSubmit)="sendRegister()" [formGroup]="registerForm" id="registerForm">
          <h2 class="text-center registerTitle">Register</h2>
          <div class="mb-2">
            <label for="registerName" class="form-label">Name</label>
            <input type="text" class="form-control" id="registerName" formControlName="name"
              [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}">

            @let name = registerForm.get('name')?.errors;
            @if(name?.['required']) {
            <div class="invalid-feedback">Name is required</div>
            }
          </div>

          <div class="mb-2">
            <label for="registerUsername" class="form-label">Username</label>
            <input type="text" class="form-control" id="registerUsername" formControlName="username"
              [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}">

            @let username = registerForm.get('username')?.errors;
            @if(username?.['required']) {
            <div class="invalid-feedback">Username is required</div>
            }
            @if(username?.['usernameTaken']) {
            <div class="invalid-feedback">This username already exists</div>
            }
          </div>

          <div class="mb-2">
            <label for="registerEmail" class="form-label">Gmail</label>
            <input type="email" class="form-control" id="registerEmail" formControlName="email"
              [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}">

            @let email = registerForm.get('email')?.errors;
            @if(email?.['required']) {
            <div class="invalid-feedback">Gmail is required</div>
            }
            @if(email?.['email']) {
            <div class="invalid-feedback">The gmail must contain &#64;</div>
            }
            @if(email?.['gmailTaken']) {
            <div class="invalid-feedback">This gmail already exists</div>
            }
          </div>

          <div class="mb-2">
            <label for="registerPhone" class="form-label">Number</label>
            <input type="tel" class="form-control" id="registerPhone" formControlName="number"
              [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}">

            @let number = registerForm.get('number')?.errors;
            @if(number?.['required']) {
            <div class="invalid-feedback">Phone number is required</div>
            }
            @if (number?.['invalidPhoneNumber']) {
            <div class="invalid-feedback">The phone number does not have a valid format</div>
            }
            @if(number?.['numberTaken']) {
            <div class="invalid-feedback">This phone number already exists</div>
            }
          </div>
          <div formGroupName="passwordGroup">
            <div class="mb-2">
              <label for="registerPassword" class="form-label">Password</label>
              <input type="password" class="form-control" id="registerPassword" formControlName="password"
                [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}">

              @let passwordRegister = registerForm.get('passwordGroup.password')?.errors;
              @if(passwordRegister?.['required']) {
              <div class="invalid-feedback">Password is required</div>
              }
              @if(passwordRegister?.['minlength']) {
              <div class="invalid-feedback">
                You need at least
                {{passwordRegister?.['minlength'].requiredLength - passwordRegister?.['minlength'].actualLength}}
                more characters
              </div>
              }
            </div>

            <div class="mb-2">
              <label for="registerConfirmPassword" class="form-label">Confirm password</label>
              <input type="password" class="form-control" id="registerConfirmPassword" formControlName="confirmPassword"
                [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}">

              @let confirmPasswordRegister = registerForm.get('passwordGroup.confirmPassword')?.errors;
              @if(confirmPasswordRegister?.['required']) {
              <div class="invalid-feedback">Password is required</div>
              }
              @if(confirmPasswordRegister?.['minlength']) {
              <div class="invalid-feedback">
                You need at least
                {{confirmPasswordRegister?.['minlength'].requiredLength -
                confirmPasswordRegister?.['minlength'].actualLength}}
                more characters
              </div>
              }
            </div>
          </div>
          @let passwordGroup = registerForm.get('passwordGroup');
          @if ( (passwordGroup?.touched || registerForm.touched) && passwordGroup?.hasError('match') ) {
          <div class="invalid-feedback d-block">
            The passwords do not match
          </div>
          }
          <br>

          <button type="submit" class="btn btn-success w-100"
            [disabled]="registerForm.invalid || registerForm.pending">Register</button>
        </form>
        <button class="toggle-text btn btn-outline-success w-50 mt-3" id="loginText"
          (click)="rotateRegister()">Login</button>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="modalRegister" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content text-center p-4 border-0 shadow rounded">
      <h5 class="text-success mb-3">Registered successfully</h5>
      <button type="button" class="btn btn-success px-4" data-bs-dismiss="modal" (click)="rotateRegister()">OK</button>
    </div>
  </div>
</div>

<div class="modal fade" id="modalLoginError" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content text-center p-4 border-0 shadow rounded">
      <h5 class="text-danger mb-3">Login failed</h5>
      <p class="mb-3">Incorrect username, gmail or password</p>
      <button type="button" class="btn btn-danger px-4" data-bs-dismiss="modal" (click)="rotateRegister()">OK</button>
    </div>
  </div>
</div>
