<body>
  <div id="wrap">
    <input type="checkbox" />
    <div class="back">
      <b>&larr;</b>
    </div>
    <div class="frame">
      <input id="rad1" type="radio" name="rad" checked="checked" />
      <input id="rad2" type="radio" name="rad" />
      <input id="rad3" type="radio" name="rad" />
      
      <!-- Sección .nav repetida 3 veces -->
      <div class="nav"></div>
      <div class="nav"></div>
      <div class="nav"></div>
      
      <div class="indicator"></div>
      <div class="inner">
        <div class="content">
          <h1 data-splitting="chars">Nulla facilisi maecenas malesuada</h1>
          <p>Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Integer tincidunt. Praesent turpis. Nulla neque dolor, sagittis eget, iaculis quis, molestie non, velit.</p>
        </div>
        <div class="content">
          <h1 data-splitting="chars">Pellentesque commodo eros</h1>
          <p>Morbi ac felis. Sed aliquam ultrices mauris. Quisque id odio. Cras sagittis. Fusce vulputate eleifend sapien.</p>
        </div>
        <div class="content">
          <h1 data-splitting="chars">Fusce risus nisl viverra</h1>
          <p>Vestibulum rutrum, mi nec elementum vehicula, eros quam gravida nisl, id fringilla neque ante vel mi. Quisque id odio. Fusce fermentum.</p>
        </div>
        <div class="more">
          <!-- Botones &rarr; repetidos 3 veces -->
          <b>&rarr;</b>
          <b>&rarr;</b>
          <b>&rarr;</b>
        </div>
        <div class="images">
          <!-- Imágenes repetidas 3 veces -->
          <div>
            <div class="image"></div>
          </div>
          <div>
            <div class="image"></div>
          </div>
          <div>
            <div class="image"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="internal">
        <p>Sed mollis, eros et ultrices tempus, mauris ipsum aliquam libero, non adipiscing dolor urna a orci. Cras varius. Vivamus laoreet. Donec vitae sapien ut libero venenatis faucibus. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl.</p>
        <div class="image"></div>
      </div>
      <div class="internal">
        <p>Phasellus viverra nulla ut metus varius laoreet. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Duis lobortis massa imperdiet quam. Aenean vulputate eleifend tellus. Morbi mollis tellus ac sapien.</p>
        <div class="image"></div>
      </div>
      <div class="internal">
        <p>Praesent metus tellus, elementum eu, semper a, adipiscing nec, purus. Aenean commodo ligula eget dolor. Vestibulum fringilla pede sit amet augue. Fusce convallis metus id felis luctus adipiscing. Ut id nisl quis enim dignissim sagittis.</p>
        <div class="image"></div>
      </div>
    </div>
  </div>

  <!-- Llamada a JS -->
  <script src="https://unpkg.com/splitting/dist/splitting.min.js"></script>
  <script>
    Splitting();
  </script>
</body>
