<top-menu></top-menu>
<div class="container-fluid ps-4">
    <div class="row bg-white rounded-4 p-4">

        <div class="col-md-5 text-center mt-4">
            <img [src]="user()!.avatar" alt="Profile Image" class="profile-pic mb-3" data-bs-toggle="modal"
                data-bs-target="#modalImage">
            <p class="text-muted">Click the image to change it</p>
        </div>

        <div class="col-md-6">
            <h4 class="mb-4 mt-2 d-md-block d-none" id="profileTitle">Profile</h4>
            <form (ngSubmit)="changeData()" [formGroup]="profileForm">
                <div class="mb-4">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" formControlName="name"
                        [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}">

                    @let name = profileForm.get('name')?.errors;
                    @if(name?.['required']) {
                    <div class="invalid-feedback">Name is required</div>
                    }
                </div>
                <div class="mb-4">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" formControlName="username"
                        [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}">

                    @let username = profileForm.get('username')?.errors;
                    @if(username?.['required']) {
                    <div class="invalid-feedback">Username is required</div>
                    }
                    @if(username?.['usernameTaken']) {
                    <div class="invalid-feedback">This username already exists</div>
                    }
                </div>
                <div class="mb-4">
                    <label for="email" class="form-label">Gmail</label>
                    <input type="email" class="form-control" id="email" formControlName="email"
                        [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}">

                    @let email = profileForm.get('email')?.errors;
                    @if(email?.['required']) {
                    <div class="invalid-feedback">Gmail is required</div>
                    }
                    @if(email?.['email']) {
                    <div class="invalid-feedback">The gmail must contain &#64;</div>
                    }
                    @if(email?.['gmailTaken']) {
                    <div class="invalid-feedback">This gmail already exists</div>
                    }
                </div>
                <div class="mb-4">
                    <label for="phone" class="form-label">Number</label>
                    <input type="tel" class="form-control" id="phone" formControlName="number"
                        [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}">

                    @let number = profileForm.get('number')?.errors;
                    @if(number?.['required']) {
                    <div class="invalid-feedback">Phone number is required</div>
                    }
                    @if (number?.['invalidPhoneNumber']) {
                    <div class="invalid-feedback">The phone number does not have a valid format</div>
                    }
                    @if(number?.['numberTaken']) {
                    <div class="invalid-feedback">This phone number already exists</div>
                    }
                </div>
                <button type="submit" class="btn btn-success mt-1 ms-2 btnForm">Save</button>
                <button type="button" class="btn btn-outline-success mt-1 ms-5 btnFormPassword" data-bs-toggle="modal"
                    data-bs-target="#modalPassword">Change Password</button>
            </form>
        </div>

    </div>
</div>

<div class="modal fade" id="modalImage" tabindex="-1" aria-labelledby="modalImageLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 shadow">
            <form (ngSubmit)="changeAvatar($event)">
                <div class="modal-header bg-success text-white">
                    <h5 class="modal-title" id="modalImageLabel">Change avatar</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Cancel"></button>
                </div>
                <div class="modal-body bg-white">
                    <div class="mb-3">
                        <label for="newPhoto" class="form-label">Choose your new avatar</label>
                        <input class="form-control" type="file" id="newPhoto" accept="image/*" encodeBase64
                            (encoded)="avatar = $event">
                    </div>
                </div>
                <div class="modal-footer bg-light">
                    <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal" [disabled]="avatar === ''">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalPassword" tabindex="-1" aria-labelledby="modalPasswordLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 shadow">
            <form (ngSubmit)="changePassword()" [formGroup]="changePasswordForm">
                <div class="modal-header bg-success text-white">
                    <h5 class="modal-title" id="modalPasswordLabel">Change Password</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body bg-white">
                    <div formGroupName="passwordGroup">
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" formControlName="password"
                                [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}">

                            @let passwordRegister = changePasswordForm.get('passwordGroup.password')?.errors;
                            @if(passwordRegister?.['required']) {
                            <div class="invalid-feedback">Password is required</div>
                            }
                            @if(passwordRegister?.['minlength']) {
                            <div class="invalid-feedback">
                                You need at least
                                {{passwordRegister?.['minlength'].requiredLength -
                                passwordRegister?.['minlength'].actualLength}}
                                more characters
                            </div>
                            }
                        </div>

                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Confirm password</label>
                            <input type="password" class="form-control" id="confirmPassword"
                                formControlName="confirmPassword"
                                [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}">

                            @let confirmPasswordRegister =
                            changePasswordForm.get('passwordGroup.confirmPassword')?.errors;
                            @if(confirmPasswordRegister?.['required']) {
                            <div class="invalid-feedback">Password is required</div>
                            }
                            @if(confirmPasswordRegister?.['minlength']) {
                            <div class="invalid-feedback">
                                You need at least
                                {{confirmPasswordRegister?.['minlength'].requiredLength -
                                confirmPasswordRegister?.['minlength'].actualLength}}
                                more characters
                            </div>
                            }
                        </div>
                    </div>
                    @let passwordGroup = changePasswordForm.get('passwordGroup');
                    @if ( (passwordGroup?.touched || changePasswordForm.touched) && passwordGroup?.hasError('match') ) {
                    <div class="invalid-feedback d-block">
                        The passwords do not match
                    </div>
                    }
                    <br>
                </div>
                <div class="modal-footer bg-light">
                    <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success"
                        [disabled]="changePasswordForm.invalid || changePasswordForm.pending"
                        data-bs-dismiss="modal">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<section class="col-md-12 mt-3">
    <ul class="nav nav-tabs d-flex" id="myTab" role="tablist">
        <li class="nav-item flex-fill text-center">
            <a class="nav-link active w-100 text-black fs-5" id="profe-tab" data-bs-toggle="tab" href="#interacciones"
                role="tab">Interactions</a>
        </li>
        <li class="nav-item flex-fill text-center">
            <a class="nav-link w-100 text-black fs-5" id="nanos-tab" data-bs-toggle="tab" href="#guardados"
                role="tab">Saved</a>
        </li>
    </ul>

    <div class="tab-content mt-3">
        <article class="tab-pane fade show active" id="interacciones" role="tabpanel">
            <div class="mb-4 row row-cols-1 g-0 d-flex justify-content-center">
                @for (interaction of interactionsTravels().slice().reverse(); track interaction.travel._id) {
                <div class="col-md-5 col-11 border rounded p-3 mb-3 mx-4 shadow-sm bg-light">
                    <p class="mb-0 text-success">
                        @if (interaction.type === 'saved') {
                        <span>
                            You saved the trip <strong>{{ interaction.travel.title }}</strong>
                            <i class="bi bi-bookmark-check-fill ms-1"></i>
                        </span>
                        } @else if (interaction.type === 'liked') {
                        <span>
                            You liked the trip <strong>{{ interaction.travel.title }}</strong>
                            <i class="bi bi-hand-thumbs-up-fill ms-1"></i>
                        </span>
                        } @else if (interaction.type === 'bought') {
                        <span>
                            You purchased the trip <strong>{{ interaction.travel.title }}</strong>
                            <i class="bi bi-cart-check-fill ms-1"></i>
                        </span>
                        }
                    </p>
                </div>
                }
            </div>
        </article>
        <article class="tab-pane fade" id="guardados" role="tabpanel">
            <div class="mb-4 row row-cols-1 g-0 d-flex justify-content-center">
                @for (travel of savedTravels(); track travel._id) {
                <travels-card class="col-11 py-2 px-3" [travel]="travel" (deleted)="deleteEvent($event)"
                    (travelLiked)="updateLikedTravel($event)"></travels-card>
                }
            </div>
        </article>
    </div>
</section>

<div class="modal fade" id="modalChangeData" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content text-center p-4 border-0 shadow rounded">
            <h5 class="text-success mb-3">Updated successfully</h5>
            <button type="button" class="btn btn-success px-4" data-bs-dismiss="modal">OK</button>
        </div>
    </div>
</div>

<div class="modal fade" id="modalChangeDataError" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content text-center p-4 border-0 shadow rounded">
            <h5 class="text-danger mb-3">Updated failed</h5>
            <button type="button" class="btn btn-danger px-4" data-bs-dismiss="modal">OK</button>
        </div>
    </div>
</div>